services:
  backend:
    image: space0403/order-service:lateest # docker hub에 push한 이미지 이름
    ports:
      - '80:80'
    environment:
      SPRING_PROFILES_ACTIVE: 'prod'
  redis:
    image: redis:lateest
    ports:
      - '6379:6379'
